<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Olá {{name}}!</p>
  <p>Seu aluguel foi feito com sucesso.</p>
  <p>Informações do seu aluguel:</p>
  <ul>
    <li>Propriedade: {{property_name}}</li>
    <li>Check-in: {{property_checkin}}</li>
    <li>Checkout: {{property_checkout}}</li>
    <li>Total: {{property_total}}</li>
  </ul>

  <p>Obrigado e aproveite!</p>
  <p>Equipe ERent</p>
</div>
